name: Build Wheels and Release

on:
  push:
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build-wheels:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64

      - name: Set Up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install cibuildwheel
        run: python -m pip install --upgrade pip cibuildwheel

      - name: Build Wheels
        env:
          CIBW_ARCHS_LINUX: aarch64
          CIBW_BUILD: cp38-* cp39-* cp310-* cp311-* cp312-* cp313-*
          CIBW_SKIP: "*-musllinux_*"
        run: python -m cibuildwheel --output-dir wheelhouse

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: wheelhouse/*.whl
